<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${order==null}?'添加订单':'修改订单'"></title>

    <div th:replace="layouts/header :: head"></div>
</head>
<body>
<div th:replace="~{commons/bar :: top-bar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/bar :: side-bar(activeUri='orders')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/order}" method="POST">
                <input type="hidden" name="id" th:value="${order!=null}?${order.id}">
                <input th:if="${order!=null}" type="hidden" name="_method" th:value="PUT">
                <div class="form-group">
                    <label for="productNameSelect">产品名称</label>
                    <select name="product.id" class="form-control" id="productNameSelect">
                        <option th:selected="${order!=null}?${product.id == order.product.id}" th:each="product:${products}" th:text="${product.name}" th:value="${product.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantityInput">数量</label>
                    <input name="quantity" class="form-control" id="quantityInput" th:value="${order!=null}?${order.quantity}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">邮件地址</label>
                    <input name="email" type="email" class="form-control" id="exampleFormControlInput1" th:value="${order!=null}?${order.email}">
                </div>
                <div class="form-group">
                    <label for="nameInput">买家姓名</label>
                    <input name="buyer" class="form-control" id="nameInput" placeholder="" th:value="${order!=null}?${order.buyer}">
                </div>
                <div class="form-group">
                    <label for="addressInput">买家地址</label>
                    <input name="address" class="form-control" id="addressInput" placeholder="" th:value="${order!=null}?${order.address}">
                </div>
                <button class="btn btn-primary" type="submit" th:text="${order==null}?'添加':'修改'">提交</button>
            </form>
        </main>
    </div>
</div>

<script>

</script>

</body>
</html>