<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product==null}?'添加订单':'修改订单'"></title>

    <div th:replace="layouts/header :: head"></div>
</head>
<body>
<div th:replace="~{commons/bar :: top-bar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/bar :: side-bar(activeUri='products')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/product}" method="POST">
                <input type="hidden" name="id" th:value="${product!=null}?${product.id}">
                <input th:if="${product!=null}" type="hidden" name="_method" th:value="PUT">
                <div class="form-group">
                    <label for="nameInput">产品名称</label>
                    <input name="name" class="form-control" id="nameInput" th:value="${product!=null}?${product.name}">
                </div>
                <div class="form-group">
                    <label for="priceInput">价格</label>
                    <input name="price" class="form-control" id="priceInput" th:value="${product!=null}?${product.price}">
                </div>
                <button class="btn btn-primary" type="submit" th:text="${product==null}?'添加':'修改'">提交</button>
            </form>
        </main>
    </div>
</div>

<script>

</script>

</body>
</html>