<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${department==null}?'添加部门':'修改部门信息'"></title>
    <div th:replace="layouts/header :: head"></div>
</head>
<body>
<div th:replace="~{commons/bar :: top-bar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/bar :: side-bar(activeUri='departments')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/department}" method="POST">
                <input type="hidden" name="id" th:value="${department!=null}?${department.id}">
                <!--
                1. SpringMvc 中配置了 HiddenHttpFilterMethod
                2. 页面创建一个 post 表单
                3. 创建一个 input 项，name 必须是 _method (name="_method")
                -->
                <input th:if="${department!=null}" type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="nameInput">名称</label>
                    <input name="name" class="form-control" id="nameInput" th:value="${department!=null}?${department.name}">
                </div>
                <div class="form-group">
                    <label for="leadingOfficialInput">负责人 - 员工编号</label>
                    <input name="leading_official.id" type="text" class="form-control" id="leadingOfficialInput" th:value="${department!=null}?${department.leading_official.id}">
                </div>
                <div th:if="${department!=null}" class="form-group row">
                    <label class="col-md-2 col-form-label">
                        <h5>负责人 - 姓名 : </h5>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext form-control-lg" th:value="${department.leading_official.name}">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" th:text="${department==null}?'添加':'修改'">提交</button>
            </form>
        </main>
    </div>
</div>

<div th:replace="layouts/footer :: footer"></div>
</body>
</html>