.login-body{
    margin:10% 35% 10% 35%;
    background-color: #8CF38C;
}

.margin{
    margin:50px;
}

.margin-top{
    margin-top:50px;
}

.padding{
    padding: 50px;
}

.padding-top{
    padding-top:50px;
}

.btn-success{
    margin-left: 10px;
}

.btn-creamGreen{
    background-color: #8CF38C;
    color: white;
    margin-left:10px;
}

.card-header{
    background-color: #D3E7D3;

}