<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <div th:replace="layouts/header :: head"></div>
</head>

<body>
<div th:replace="~{commons/bar :: top-bar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/bar :: side-bar(activeUri='dashboard')}"></div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<div th:replace="layouts/footer :: footer"></div>

</body>
</html>
