<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <div th:replace="layouts/header :: head"></div>
</head>
<body>
<div th:replace="~{commons/bar :: top-bar}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/bar :: side-bar(activeUri='employees')}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


        </main>
    </div>
</div>

<div th:replace="layouts/footer :: footer"></div>

<script>
    $(".deleteBtn").click(function(){
        console.log($(this).attr("del_uri"));
        $("#deleteEmployeeForm").attr("action", $(this).attr("del_uri")).submit();
        return false;
    });
</script>
</body>
</html>